/* <!-- ===================================A. TẠO BASE DỰ ÁN BAN ĐẦU=================================== --> */
/* a-1. Đẩy lên Github */
/* a-2. Reset */
/* a-3. Code những thuộc tính chung */
/* a-3-1. Code chung */
* {
  box-sizing: border-box;
}

/* Tạo biến cho các thuộc tính dùng đi dùng lại */
:root {
  --font-heading: "Sen", sans-serif;
  --primary-color: #ffb900;
}

/* a-3-2. Chuyển 1rem = 10 px (Bình thường 1 rem = 16px) */
html {
  font-size: 62.5%;
}

/* a-3-3. Chuyển lại kích thước font ban đầu */
body {
  font-size: 1.6rem;
  /* a-3-3-1. Cài đặt font chữ mặc định cho toàn web là Poppins, còn chỗ khác thì code riêng */
  font-family: "Poppins", sans-serif;
}

/* <!-- ===================================B. HEADER=================================== --> */
/* b-1: Bỏ gạch chân ở thẻ a đi */
a {
  text-decoration: none;
}

/* Code thuộc tính chung cho thẻ h2 */
.heading-lv2 {
  color: #171100;
  font-family: var(--font-heading);
  font-size: 3.8rem;
  font-weight: 700;
  line-height: 1.27; /* 126.316% */
  letter-spacing: -0.76px;
}

/* b-2: Xoay ngang các phần tử */
.header .body {
  display: flex;
}

/* b-3: Xoay ngang khối nav */
.nav ul {
  display: flex;
}

/* b-4: Đẩy khối Nav & btn sang phải */
/* Chỉ cần tác động vào khối Nav sang phải, là khối btn phải dịch theo (bài 48.10)*/
.nav {
  margin-left: auto;
}

/* b-5: Nội dung đang bị sát lề, căn lại lề */
.main-content {
  width: 1170px;
  /* Căn cho logo và nội dung vào giữa */
  margin-left: auto;
  margin-right: auto;
  /* Khi co nhỏ web thì nội dung bị che mất, xử lý như sau */
  /* Muốn khoảng cách hai lề là 24px, thì trừ đi tổng 48px */
  max-width: calc(100% - 48px);
}

/* b-6: Tạo style (màu sắc) cho thẻ a ở trong nav */
.nav a {
  /* Thêm position: relative để căn gạch chân dưới thẻ a */
  position: relative;
  color: #5f5b53;
  font-size: 1.6rem;
  /* Căn khoảng cách giữa các phần tử */
  /* Có thể dùng margin để phân tách phần tử. Tuy nhiên, nên dùng Padding để nâng diện tích tương tác của user hơn */
  /* Padding trên dưới 8px, trái phải là 21px */
  padding: 8px 21px;
}

/* b-7: Tạo hiệu ứng khi user di chuột vào thẻ a nav (Dùng lớp giả hover bài 33) */
/* Note: khi user click vào thì chữ cũng đậm */
.nav li.active a,
.nav a:hover {
  color: #171100;
  /* font-weight: 600; */
  /* Khi dùng font-weight thì di chuột vào sẽ bị giật giật, nên ta dùng text-shadow để hiệu ứng mượt mà hơn */
  text-shadow: 1px 0 0 currentColor;
}

/* b-8: Làm dấu gạch chân dưới chữ Home */
/* Trước tiên thêm .active vào thẻ li {Home} để tác động, sau khi dùng Javascript thì chỉnh sau */
/* Để thêm dấu gạch sử dụng kiến thức:: Pseudo Elements - bài 83 */
.nav li.active a::after {
  /* Để sử dụng before/after thì ta dùng content - Chuỗi rỗng */
  content: "";
  width: 12px;
  height: 2px;
  border-radius: 1px;
  background: #171100;
  /* Thẻ inline thì không set được width height, nên phải chuyển sang Display: block/inline-block thì mới set được */
  display: block;
  /* Căn dấu gạch chân nằm ngay dưới thẻ a ở nav - Dùng kiến thức Positon: absolute/relative bài 87.2 */
  /* Bước 1: Set .nav a có postion: relative */
  /* Bước 2: set trong dấu gạch chân Postion: Absolute */
  /* Bước 3: Căn lại trái & dưới */
  position: absolute;
  left: 21px;
  bottom: 6px;
}

/* b-9: Code thông số chung cho nút bấm*/
.btn {
  /* Code cho text */
  color: #fff;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 600;
  /* Code cho phần nền style */
  /* Border-radius 999px để bán kính bo lớn hẳn lên */
  border-radius: 999px;
  background: #171100;
  /* Thẻ a mặc định là inline - bài 51*/
  /* Nút bấm đang dính sát lề, căn lại */
  display: inline-block;
  padding: 0px 16px;
  /* Cài đặt chiều cao cho nút bấm */
  line-height: 50px;
  /* Độ rộng tối thiểu */
  min-width: 118px;
}

/* b-10: Code thuộc tính riêng cho nút bấm ở NAV */
.header .btn-sign-up {
  min-width: 144px;
}

/* b-11: Căn giữa tất cả các phần tử theo trục dọc - trục cross */
/* Kiến thức align-items 89.3 */
.header .body {
  align-items: center;
  /* Tất cả các phần tử và nút bấm đang dính lên trên */
  padding: 36px 0 8px;
}

/* b-12: Đổi màu nền */
.header {
  background: #fffcf4;
}

/* b-13: Ghim thanh điều hướng khi cuộn chuột - Position: sticky (87.6)  */
/* Tác động vào thẻ có cả class header, và có cả class fixed */
.header.fixed {
  position: sticky;
  /* Muốn khi cuộn chuột, cách lề trên là 8px: 36 - 8 = 28px*/
  top: -28px;
}

/* Giãn khoảng cách giữa thẻ a nav với nút bấm cách 70px */
/* Ban đầu padding chữ là 21px, nên khoảng cách còn lại là 49px  */
.header .action {
  margin-left: 49px;
}

/* <!-- ===================================C. HERO=================================== --> */
/* c-1: Tạo khoảng cách giữa NAV với phần Hero (cách tổng 64px - padding cũ là 8px: còn 56px) */
.hero {
  /* margin-top: 56px; - Margin thì không đổ được nền, nên ta dùng Padding */
  padding-top: 56px 0 65px;
  background: #fffcf4;
}

/* c-2: Xoay ngang hai phần ra */
.hero .body {
  display: flex;
}

/* c-3: Căn độ rộng của phần bên trái, tính tỷ lệ % theo độ rộng*/
.hero .media-block {
  width: 48%;
  position: relative;
}

/* c-4: Căn độ rộng của phần bên phải, tính tỷ lệ % */
.hero .content-block {
  width: 52%;
}

/* c-5: tùy chỉnh lại kích thước của ảnh cho chuẩn, để tránh việc thay ảnh bị vỡ giao diện */
.hero .media-block .img {
  width: 470px;
  height: 685px;
  object-fit: cover;
  /* Bo góc cho ảnh */
  border-radius: 20px;
}

/* c-6: Căn vị trí của khối trên ảnh nằm trên ảnh cover */
/* Đặt khối cần thay đổi là "absolute" và đặt khối cha là "relative" */
/* Khối cha: .hero .media-block */
.hero .hero-summary {
  position: absolute;
  bottom: 48px;
  right: 0;
  /* Cài đặt nền - copy từ fig ma style */
  width: 270px;
  border-radius: 12px;
  background: #fff;
  box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
  /* Tạo khoảng cách giữa các phàn tử */
  padding: 24px;
}

/* Xoay ngang các phần tử trong item ra */
.hero-summary .item {
  display: flex;
}

/* Tạo hình tròn bọc quanh icon */
.hero-summary .icon {
  width: 48px;
  height: 48px;
  /* Bo tròn lại */
  border-radius: 50%;
  /* Căn giữa tất cả các phần tử */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff9e8;
}

/* Đổi màu nền cho từng hình tròn nằm dưới */
/* Bằng việc tạo thêm class riêng cho từng icon 2, 3 */
/* Đổi màu nền cho icon 2 */
.hero-summary .icon2 {
  background-color: #fcefff;
}

/* Đổi màu nền cho icon 3 */
.hero-summary .icon3 {
  background-color: #ebeaff;
}

/* Tạo khoảng cách giữa text và icon */
.hero-summary .info {
  margin-left: 16px;
}

/* Tạo thuộc tính style cho text ở trên */
.hero-summary .label {
  color: #5f5b53;
  font-size: 1.4rem;
  line-height: 186%;
}

/* Tạo style cho thẻ in đậm ở dưới */
.hero-summary .title {
  color: #171100;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 167%; /* 166.667% */
}

/* Tạo khoảng cách giữa các icon */
/* .item +.item - Được hiểu là tác động vào item tiếp theo. Không tác động vào class đầu tiên, mà tác động vào các class tiếp theo */
.hero-summary .item + .item {
  margin-top: 22px;
}

/* Căn icon với text nằm giữa ngang nhau */
.hero-summary .item {
  align-items: center;
}

/* Căn khoảng cách giữa khối trái và khối phải */
.hero .content-block {
  width: 52%;
  padding-left: 130px;
  padding-top: 64px;
}

/* Tạo style cho thẻ h1 */
.hero .heading {
  color: #171100;
  font-variant: var(--font-heading);
  font-size: 5.8rem;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: -1.16px;
}

/* Tạo style cho đoạn văn ở dưới */
.hero .desc {
  color: #5f5b53;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.67;
  /* Tạo khoảng cách bên trên */
  margin-top: 22px;
}

/* Tạo khoảng cách cho nhóm nút bấm */
.hero .cta-group {
  margin-top: 38px;
  /* Xoay ngang các phần tử trong nút */
  display: flex;
  /* Căn giữa theo trục dọc - tục cross */
  align-items: center;
}

/* Tạo style cho nút bấm */
/* Tạo thêm một class, để code các thuộc tính riêng */
.hero-cta {
  min-width: 180px;
  background-color: var(--primary-color);
}

/* Thêm thuộc tính hover vào các nút, cho nó mờ hơn đi khi user di chuột đến */
.btn:hover {
  opacity: 0.9;
}

/* Code thuộc tính cho nút bấm bên phải */
.hero .watch-video {
  /* Bỏ viền đi dùng border: none */
  border: none;
  background: transparent;
  display: flex;
  /* Căn khoảng cách giữa các nút */
  margin-left: 28px;
}

/* Tạo style cho background nút */
.hero .watch-video .icon {
  /* Căn giữa nó */
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 40px;
  background: #fff;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.07);
}

/* Căn giữa Watch video với icon này */
.hero .watch-video {
  display: flex;
  align-items: center;
}

/* Tạo style cho chữ Watch video và tạo khoảng cách cho nó */
.hero .watch-video span {
  margin-left: 14px;
  color: #171100;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.67;
}

/* Thêm hình bàn tay khi user di chuột vào */
.hero .watch-video {
  cursor: pointer;
}

/* Tạo khoảng cách giữa dòng dưới và dòng trên */
/* Tạo thêm class để tác động thuộc tính riêng */
.hero .desc-recent {
  margin-top: 48px;
}

/* Tạo khoảng cách cho dòng cuối cùng */
.hero .stats strong {
  color: #171100;
  font-family: var(--font-heading);
  font-size: 4.4rem;
  font-weight: 700;
  line-height: 1.23; /* 122.727% */
}

/* Tạo khoảng cách giữa dòng chữ in đậm và chữ nhỏ bên cạnh nó */
.hero .stats strong {
  margin-left: 15px;
}

/* Tạo khoảng cách giữa dòng chữ in đậm và chữ nhỏ bên cạnh thứ 2 */
.hero .stats strong:nth-child(2) {
  margin-left: 28px;
}

/* Tạo khoảng cách với dòng chữ ở trên */
.hero .stats {
  margin-top: 8px;
}

/* Khi cuộn chuột xuống thì ảnh chèn lên navigation */
/* Ta còn để phần header với z-index là 1 (1 là nằm trên tất cả) */
.header.fixed {
  z-index: 1;
}
/* <!-- ===================================D. POPULAR=================================== --> */
/* Thêm padding vào khoảng trên dưới */
/* Dùng padding thì nền không bị đổ sát vào chữ như margin */
.popular {
  padding: 65px 0;
  /* Tạo khoảng cách với phần Hero */
  margin-top: 135px;
}

/* Tạo style cho tiêu đề h2 */
/* Tạo kiểu style cho thẻ p */
.popular-top .desc {
  margin-top: 16px;
  width: 458px;
  color: #5f5b53;
  font-size: 1.8rem;
  line-height: 1.67; /* 166.667% */
}

/* Xoay ngang phần bên trái và bên phải */
.popular-top {
  display: flex;
  /* Căn kịch các phần tử về hai phía */
  justify-content: space-between;
  /* Căn giữa phần bên trái và bên phải */
  align-items: center;
}

/* Xóa nền của nút bấm */
.popular-top .control-btn {
  background: transparent;
  /* Tạo style cho nút */
  width: 40px;
  height: 40px;
  /* Là hình tròn thì dùng border radius 50% */
  border-radius: 50%;
  border: 1px solid var(--primary-color);
  /* Căn giữa mũi tên */
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--primary-color);
}

/* Xoay ngang nút bấm */
.popular-top .controls {
  display: flex;
  /* Giãn khoảng cách giữa hai nút */
  gap: 18px;
}

/* Tạo hiệu ứng khi user click (hover) vào */
.popular-top .control-btn:hover {
  background: var(--primary-color);
  color: #fff;
  /* Thêm hình bàn tay vào */
  cursor: pointer;
}

/* Giãn khoảng cách từ popular 2 với 1 */
.popular .course-list {
  margin-top: 55px;
  /* Xoay ngang phần tử */
  display: flex;
  background-color: blue;
  /* tạo khoảng cách giữa các phần tử */
  gap: 30px;
}

/* Căn chỉnh lại vị trí ảnh cho chuẩn */
.popular .course-item .thumb {
  width: 100%;
  border-radius: 12px 12px 0px 0px;
  height: 278px;
}

/*  */

/* <!-- ===================================E. FEEDBACK=================================== --> */

/* <!-- ===================================F. FEATURES=================================== --> */

/* <!-- ===================================G. BLOG=================================== --> */

/* <!-- ===================================H. FOOTER=================================== --> */
